<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.polover.digipub">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/digipub_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/digipub_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.polover.digipub.activities.landingpage.LandingPageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.polover.digipub.activities.GuideActivity" />
        <activity android:name="com.polover.digipub.activities.AboutActivity" />
        <activity android:name="com.polover.digipub.activities.ProfileActivity" />
        <activity
            android:name="com.polover.digipub.activities.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name="com.polover.digipub.activities.SplashScreenActivity"
            android:theme="@style/AppThemeNo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.polover.digipub.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name="com.polover.digipub.BootCompletedReceiver"
            android:exported="false">

            <!-- Listening the BOOT_COMPLETED action for legacy pre-N devices -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.polover.digipub.ForegroundService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>